html{
    overflow: hidden;
}
body{
    background-color: hsl(212, 45%, 89%);
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    margin: 0;
}
.hero-container{
    background-color: white;
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.qr-container{
    display: grid;
    align-items: center;
    justify-items: center;
}

.img-container{
    width: 90%;
    margin-top: 10px;
}

img{
    border-radius: 5px;
}

h2{
    text-align: center;
    font-size: 15px;
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px;
}

p{
    text-align: center;
    font-size: 10px;
    color: hsl(220, 15%, 55%);
    padding: 0px 15px 10px 15px;
}

.attribution{
    position: absolute;
    bottom: 0;
}